<!DOCTYPE html>
<html lang="en">
<head>
	<title>Languages - Index Phonemica</title>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>
	<ul>
		<% languages.forEach(function (language) { %>
			<li>
				<a href="/w/languages/<%= language.glottocode %>">
					<%= language.name %>
				</a>
			</li>
		<% }) %>
	</ul>
</body>
</html>