<div>
	<h4 class='language-segments'><%= name %> (<%= thing.size %>)</h4>
	<span class='inventory'><% thing.contents.forEach (function (thing) { %>
		<%- include('segment', {segment: thing}) %>
	<% }) %></span>
</div>