<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			Index Phonemica
		</a>

		<ul class="nav navbar-nav">
			<li>
				<a href="/w">Home</a>
			</li>
			<li>
				<a href="/w/languages">Languages</a>
			</li>
			<li>
				<a href="/w/doculects">Doculects</a>
			</li>
			<li>
				<a href="/w/segments">Segments</a>
			</li>
		</ul>
	</div>
</nav>