<!-- slightly messy port of the already slightly messy React logic -->
<div>
  <% if (thing.contents && thing.contents.length > 0) { %>
    <h4 class='language-segments'><%= name %> (<%= thing.size %>)</h4>
  <% } %>
  <table class='inventory'><tbody>
    <% thing.contents.map(function (y) { %>
      <tr>
        <% y.map(function (x) { %>
          <td>
            <% x.map (function (seg) { %>
              <%- include('segment', {segment: seg}) %>
            <% }) %>
          </td>
        <% }) %>
      </tr>
    <% }) %>
  </tbody></table>
</div>