<div>
	<h4 className='language-segments'><%= name %> (<%= thing.size %>)</h4>
	<span><% thing.contents.forEach (function (thing) { %>
		<%- include('segment', {segment: thing}) %>
	<% }) %></span>
</div>