<!DOCTYPE html>
<html lang="en">
<head>
	<title>404 - Index Phonemica</title>
	<%- include("partials/head") %>
</head>
<body>
	<%- include("partials/header") %>
	<h1>404 Not Found</h1>
</body>
</html>